/* Estilos generales */
body {
    font-family: 'Exo', 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    padding: 20px;
}

#presentacion__container {
    display: flex;
    align-items: center;
    background-color: #15616d;
}

#presentacion__portafolio h3 {
    font-size: 4em;
    color: #ffecd1;
    text-align: center;
    overflow: hidden;
    margin: 0;
    margin-left: 0.4em;
}

.tituloAureum {
    position: relative;
    text-align: center;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.2));
}

/* Estilos para la imagen de perfil */
.imagenPerfil {
    flex: 1;
    text-align: end;
    margin-right: 4em;
}

.imagenPerfil img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
}

/* Seccion de MIS PROYECTOS */
#mis__proyectos__portafolio h2,
#sobremi__portafolio h2,
#contacto__portafolio h2,
#experiencia__portafolio h2,
#informacion__academica__portafolio h2 {
    font-size: 2.5em;
    text-align: center;
}

#sobremi__portafolio p,
#experiencia__portafolio p,
#informacion__academica__portafolio p {
    font-size: 1.4em;
    padding: 0 20px;
    margin-bottom: 0;
}

#mis__proyectos__card__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#mis__proyectos__card__img img {
    width: calc(33.33% - 20px);
    max-width: 580px;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.proyecto__img:hover {
    transform: scale(1.1);
}

#contacto__iconos__container {
    display: flex;
    justify-content: space-evenly; 
}

.contacto__iconos {
    text-align: center;
    margin: 0 10px; 
}

.contacto__iconos svg {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/* Reglas de medios para pantallas pequeñas */
@media screen and (max-width: 768px) {
    #presentacion__container {
        flex-direction: column;
    }

    .imagenPerfil {
        padding: 20px;
    }

    #presentacion__portafolio h3 {
        padding: 20px;
    }
}

@media screen and (max-width: 576px) {
    #mis__proyectos__card__img img {
        width: calc(50% - 20px);
    }

    #contacto__iconos__container {
        flex-direction: column;
    }

    .contacto__iconos {
        margin: 10px 0;
    }
}
